/*

--Global CSS

*/

    body {
        width: 100%;
        margin: 0;
        padding: 0;
        background: black;
    }

    .Century {
        font-family: 'century gothic';
    }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
    {

    } 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
    {
    
    } 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
    {

    } 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
    {
        .HeadContainer
            {
            background: #131313;
            color: yellow;
            width: 100%;
            display: flex;
            padding-bottom: 40px;
            }

        .Name
            {
            width: 50%;
            height: auto;
            padding-left: 15px;
            display: inline-block;
            font-size: 4em;
            box-sizing: border-box;
            }

        .Menu
            {
            display: inline-block;
            width: 50%;
            }

        .Menu > ul
            {
            width: 100%;
            list-style: none;
            position: relative;
            display: flex;
            justify-content: space-evenly;
            margin: 0;
            padding: 0;
            font-size: 1.5em;
            height: 100%;
            align-items: center;
            }
    } 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
    {
        .HeadContainer
        {
        background: #131313;
        color: yellow;
        width: 100%;
        display: flex;
        padding-bottom: 40px;
        }

    .Name
        {
        width: 50%;
        height: auto;
        padding-left: 15px;
        display: inline-block;
        font-size: 4em;
        box-sizing: border-box;
        }

    .Menu
        {
        display: inline-block;
        width: 50%;
        }

    .Menu > ul
        {
        width: 100%;
        list-style: none;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        font-size: 1.5em;
        height: 100%;
        align-items: center;
        }
    }