/*

    Global CSS

*/

/* ------------------------------------------------------------------*/


    /*  Global Fonts */
    @import url('https://fonts.googleapis.com/css?family=Coiny|Montserrat|ZCOOL+QingKe+HuangYou');
    
    .HeadFont /*Used For Logos and Headers*/
        {
        font-family: 'Coiny', cursive;
        }

    .MainFont /*Used For Reading*/
        {
        font-family: 'ZCOOL QingKe HuangYou', cursive;
        }

    .SecondFont /*Used For Actions - DEFAULT*/
        {
        font-family: 'Montserrat', sans-serif;
        }

    /* ------- */    
    html 
        {
        width: 100%;
        overflow-x: hidden;
        }

    body 
        {
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        margin: 0;
        padding: 0;
        background: black;
        }


    img
        {
        width: 100%;
        height: auto;
        display: block;  
        }

    a
        {
        text-decoration: none;
        color: inherit;
        }

    .ProjectSection 
        {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        }

    .ProjectBackground 
        {
        width: 100%;
        background: yellow;
        height: 500px;
        }

    @keyframes NameBanner
        {
            0%
                {
                width: 0%;
                padding-left: 0px;
                padding-right: 0px;
                }
            100%    
                {
                Width: 100%;
                padding-left: 15px;
                padding-right: 15px;
                }
        }

    /*
    HIRE ME SECTION
    */

    .Hireme
        {
        position: relative;
        }

    .HireArea
        {
        position: absolute;
        top: 30%;
        z-index: 1;
        width: 100%;   
        }

    .HireArea_Description
        {
        font-size: 2em;
        color: yellow;
        background: black;
        padding: 20px;
        border-radius: 40px;
        display: inline-block;
        margin-left: 20%;
        text-align: right;
        }

    .HireArea_CTA
        {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        margin: auto;
        padding: 27px;
        box-sizing: border-box;
        }

    .HM_Action
        {
        background: black;
        color: white;
        min-width: 45%;
        text-align: center;
        font-size: 1.9em;
        padding-top: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;
        border-radius: 48px;
        border: 2px solid yellow;
        white-space: nowrap;   
        }

    /*
        SECTION THEMES
    */
    
    .Section-Full
        {
        width: 100%;
        min-height: 300px;
        display: block;
        box-sizing: border-box;
        padding: 5px;
        padding-top: 89px;
        }

    .Header-Responsive
        {
        display: inline-block;
        padding: 20px;
        font-size: 2em;
        font-weight: bold;
        }

    .Darkness
        {
        background: black;
        }

    .Darkness_Header
        {
        border-bottom: black 2px solid; 
        border-right: black 15px solid;
        background: #171717;
        color: white;      
        }

    .Lightening
        {
        background: yellow;
        }

    .Lightening_Header
        {
        border-bottom: yellow 2px solid; 
        border-right: yellow 15px solid;
        background: #171717;
        color: white;
        }

/* ------------------------------------------------------------------*/

/*
    Small Phones
*/

/* ------------------------------------------------------------------*/
@media only screen and (max-width: 500px)
    {
        .HeadContainer
            {
            background: #131313;
            color: yellow;
            width: 100%;
            display: inline-block;
            padding-bottom: 40px;
            }

        .NameBox
            {
            display: flex;
            }

    .NameFirst
        {
        width: 100%;
        height: auto;
        padding: 20px;
        display: inline-block;
        font-size: 1.3em;
        font-family: 'Coiny', cursive;
        box-sizing: border-box;
        text-align: center;
        border-bottom: 5px solid yellow;
        margin-bottom: 20px;
        }

    .Name
        {
        width: 100%;
        height: auto;
        padding: 20px;
        display: inline-block;
        font-size: 1.3em;
        font-family: 'Coiny', cursive;
        box-sizing: border-box;
        text-align: center;
        border-bottom: 5px solid white;
        margin-bottom: 20px;
        }
    }

/* ------------------------------------------------------------------*/

/*
    Tablets
*/

/* ------------------------------------------------------------------*/
@media only screen and (min-width: 500px) 
    {
        .HeadContainer
            {
            background: #131313;
            color: yellow;
            width: 100%;
            display: inline-block;
            padding-bottom: 40px;
            }

        .NameBox
            {
            display: flex;
            }

        .NameFirst
            {
            width: 50%;
            height: auto;
            padding: 20px;
            display: inline-block;
            font-size: 2em;
            font-family: 'Coiny', cursive;
            box-sizing: border-box;
            text-align: center;
            border-bottom: 5px solid yellow;
            margin-bottom: 20px;
            }

        .Name
            {
            width: 50%;
            height: auto;
            padding: 20px;
            display: inline-block;
            font-size: 2em;
            font-family: 'Coiny', cursive;
            box-sizing: border-box;
            text-align: center;
            border-bottom: 5px solid white;
            margin-bottom: 20px;
            }

        .Menu
            {
            display: inline-block;
            width: 100%;
            }

        .Menu > ul
            {
            width: 100%;
            list-style: none;
            position: relative;
            display: flex;
            justify-content: space-evenly;
            margin: 0;
            padding: 0;
            font-size: 1.5em;
            height: 100%;
            align-items: center;
            }

 /*
    HIRE ME SECTION
    */

    .HireArea
        {
        position: absolute;
        width: 100%;
        top: 25%;
        z-index: 1;
        }

    .HireArea_Background
        {
        position: relative;
        top: 0;
        left: 0;
        }

    .HireArea_Description
        {
        position: relative;
        width: 50%;
        margin: auto;
        background-color: rgba(0, 0, 0, 1);
        font-size: 2em;
        color: yellow;
        display: block;
        text-align: center;
        }

    .HireArea_CTA
        {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: auto;
        padding: 27px;
        box-sizing: border-box;
        }

    .HM_Action
        {
        background: black;
        color: white;
        min-width: 45%;
        text-align: center;
        font-size: 1.9em;
        padding-top: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;
        border-radius: 48px;
        border: 2px solid yellow;
        white-space: nowrap;   
        }
    } 


/* ------------------------------------------------------------------*/

/*
    Laptops and Desktops
*/

/* ------------------------------------------------------------------*/
@media only screen and (min-width: 992px) 
    {
        .HeadContainer
        {
        position: sticky;
        top: 0;
        background: #131313;
        color: yellow;
        width: 100%;
        display: flex;
        padding-bottom: 40px;
        transition: 1s;
        z-index: 5;
        }

        .HeadContainer.small
        {
        position: sticky;
        top: 0;
        background: #131313;
        color: yellow;
        width: 100%;
        display: flex;
        padding-bottom: 0;
        transition: 1s;
        z-index: 5;
        }

    .NameBox
        {
        position: relative;
        width: 50%;
        height: auto;
        padding-left: 15px;
        display: inline-block;
        box-sizing: border-box;
        text-align: center;
        font-size: 3em;
        }

    .NameFirst
        {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        height: auto;
        padding-left: 15px;
        display: inline-block;
        font-family: 'Coiny', cursive;
        font-size: inherit;
        box-sizing: border-box;
        text-align: center;
        border-bottom: 0;
        margin-bottom: 0;
        }

    .Name
        {
        position: absolute;
        top: 0;
        left: 0;
        background: #131313;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        height: auto;
        padding-left: 15px;
        display: inline-block;
        font-family: 'Coiny', cursive;
        font-size: inherit;
        box-sizing: border-box;
        box-shadow: 4px -3px 0px;
        animation: NameBanner 5s ease-in-out alternate infinite;
        border-bottom: none;
        margin-bottom: 0;
        }

    .Menu
        {
        display: inline-block;
        width: 50%;
        }

    .Menu > ul
        {
        width: 100%;
        list-style: none;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        font-size: 1.5em;
        height: 100%;
        align-items: center;
        }



    }