//Frequent Usage
$Block: block;
$Inline: inline;
$InlineB: inline-block;

/*

    Global CSS

*/

/* ------------------------------------------------------------------*/


    /*  Global Fonts */
    @import url('https://fonts.googleapis.com/css?family=Coiny|Montserrat|ZCOOL+QingKe+HuangYou');
    
    .HeadFont /*Used For Logos and Headers*/
        {
        font-family: 'Coiny', cursive;
        }

    .MainFont /*Used For Reading*/
        {
        font-family: 'ZCOOL QingKe HuangYou', cursive;
        }

    .SecondFont /*Used For Actions - DEFAULT*/
        {
        font-family: 'Montserrat', sans-serif;
        }

    /* ------- */    
    html 
        {
        width: 100%;
        overflow-x: hidden;
        }

    body 
        {
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        margin: 0;
        padding: 0;
        background: black;
        }


    img
        {
        width: 100%;
        height: auto;
        display: block;  
        }

    a
        {
        text-decoration: none;
        color: inherit;
        }



    /*
        SECTION THEMES
    */
    
    .Section-Full
        {
        position: relative;
        width: 100%;
        min-height: 300px;
        display: block;
        box-sizing: border-box;
        padding-top: 5px;
        padding-bottom: 5px;
        }

    .Header-Responsive
        {
        display: inline-block;
        padding: 20px;
        font-size: 2em;
        font-weight: bold;
        }

    .Darkness
        {
        background: black;
        }

    .Darkness_Header
        {
        border-bottom: black 2px solid; 
        border-right: black 15px solid;
        background: #171717;
        color: white;      
        }

    .Lightening
        {
        background: yellow;
        }

    .Lightening_Header
        {
        border-bottom: yellow 2px solid; 
        border-right: yellow 15px solid;
        background: #171717;
        color: white;
        }