    /*
    HIRE ME SECTION
    */
    @keyframes HireMeBackground
    {
        from
            {
            -webkit-filter: blur(0);
            filter: blur(0);
            }
        to    
            {
            -webkit-filter: blur(4px);
            filter: blur(4px);
            }
    }

    @keyframes HireMeFront
    {
        from
            {
            opacity: 0;
            }
        to    
            {
            opacity: 100%;
            }
    }

/*
    .Hireme
        {
        position: relative;
        }

    .HireArea
        {
        position: absolute;
        top: 30%;
        z-index: 1;
        width: 100%;   
        }

    .HireArea_Description
        {
        font-size: 2em;
        color: yellow;
        background: black;
        padding: 20px;
        border-radius: 40px;
        display: inline-block;
        margin-left: 20%;
        text-align: right;
        }

    .HireArea_CTA
        {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        margin: auto;
        padding: 27px;
        box-sizing: border-box;
        }

    .HM_Action
        {
        background: black;
        color: white;
        min-width: 45%;
        text-align: center;
        font-size: 1.9em;
        padding-top: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;
        border-radius: 48px;
        border: 2px solid yellow;
        white-space: nowrap;   
        }
        
        */
@media only screen and (max-width: 500px)
{
    .Hireme
        {
        position: relative;
        }

    .HireArea 
        {
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        }

    .HireArea_Background
        {
        position: relative;
        top: 0;
        left: 0;
        }

    .HireArea_Description 
        {
        font-size: 2em;
        background: none;
        color: yellow;
        padding: 20px;
        padding-top: 100px;
        border-radius: 40px;
        display: inline-block;
        width: 100%;
        margin: auto;
        text-align: center;
        box-sizing: border-box;
        }

    .HireArea_CTA 
        {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        margin: auto;
        padding: 0;
        box-sizing: border-box;
        }

    .HM_Action 
        {
        background: #293483;
        color: white;
        width: 50%;
        margin: auto;
        margin-bottom: 11px;
        text-align: center;
        font-size: 1.9em;
        padding-top: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;
        border-radius: 30px;
        border: 1px solid white;
        white-space: nowrap;
        }
}

@media only screen and (min-width: 500px) 
{
/*
HIRE ME SECTION
*/
    .Hireme
        {
        position: relative;
        }

    .HireArea
        {
        position: absolute;
        width: 100%;
        top: 25%;
        z-index: 1;
        animation: HireMeFront 2s ease-in;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        }

    .HireArea_Background
        {
        position: relative;
        top: 0;
        left: 0;
        }

    .HireArea_Description
        {
        position: relative;
        display: block;
        width: 50%;
        margin: auto;
        padding: 20px;
        background-color: rgba(0, 0, 0, 1);
        font-size: 2em;
        color: yellow;
        text-align: center;
        border-radius: 40px;
        }

    .HireArea_CTA
        {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: auto;
        padding: 27px;
        box-sizing: border-box;
        }

    .HM_Action
        {
        background: black;
        color: white;
        min-width: 45%;
        text-align: center;
        font-size: 1.9em;
        padding-top: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;
        border-radius: 48px;
        border: 2px solid yellow;
        white-space: nowrap;   
        }
}

@media only screen and (min-width: 992px)
{
    .HireArea_Background
        {
        animation: HireMeBackground 3s ease-in;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        }
}