/*

    Global CSS

*/
/* ------------------------------------------------------------------*/
/*  Global Fonts */
@import url("https://fonts.googleapis.com/css?family=Coiny|Montserrat|ZCOOL+QingKe+HuangYou");
.HeadFont {
  font-family: 'Coiny', cursive; }

.MainFont {
  font-family: 'ZCOOL QingKe HuangYou', cursive; }

.SecondFont {
  font-family: 'Montserrat', sans-serif; }

/* ------- */
html {
  width: 100%;
  overflow-x: hidden; }

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black; }

img {
  width: 100%;
  height: auto;
  display: block; }

a {
  text-decoration: none;
  color: inherit; }

/*
    SECTION THEMES
*/
.Section-Full {
  position: relative;
  width: 100%;
  min-height: 300px;
  display: block;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px; }

.Header-Responsive {
  display: inline-block;
  padding: 20px;
  font-size: 2em;
  font-weight: bold; }

.Darkness {
  background: black; }

.Darkness_Header {
  border-bottom: black 2px solid;
  border-right: black 15px solid;
  background: #171717;
  color: white; }

.Lightening {
  background: yellow; }

.Lightening_Header {
  border-bottom: yellow 2px solid;
  border-right: yellow 15px solid;
  background: #171717;
  color: white; }

/*--------------------------------------------------*/
/*
> > > HEADER MENU
*/
/*
        Animations And Keyframes
*/
@keyframes NameBanner {
  0% {
    width: 0%;
    padding-left: 0px;
    padding-right: 0px; }
  100% {
    Width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }
/*
        Small Phones
*/
@media only screen and (max-width: 500px) {
  .HeadContainer {
    background: #131313;
    color: yellow;
    width: 100%;
    display: inline-block; }

  .NameBox {
    display: flex; }

  .NameFirst {
    width: 100%;
    height: auto;
    padding: 20px;
    display: inline-block;
    font-size: 1.3em;
    font-family: 'Coiny', cursive;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 5px solid yellow; }

  .Name {
    width: 100%;
    height: auto;
    padding: 20px;
    display: inline-block;
    font-size: 1.3em;
    font-family: 'Coiny', cursive;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 5px solid white; }

  #MobileMenu {
    min-width: 100%;
    text-align: center;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    background: black;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer; }

  .Menu {
    display: none; }

  .Menu > ul {
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    padding: 0; }

  .Menu > ul > li {
    padding: 10px; } }
/*
        Tablets
*/
@media only screen and (min-width: 500px) {
  .HeadContainer {
    background: #131313;
    color: yellow;
    width: 100%;
    display: inline-block;
    padding-bottom: 40px; }

  .NameBox {
    display: flex; }

  .NameFirst {
    width: 50%;
    height: auto;
    padding: 20px;
    display: inline-block;
    font-size: 2em;
    font-family: 'Coiny', cursive;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 5px solid yellow;
    margin-bottom: 20px; }

  .Name {
    width: 50%;
    height: auto;
    padding: 20px;
    display: inline-block;
    font-size: 2em;
    font-family: 'Coiny', cursive;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 5px solid white;
    margin-bottom: 20px; }

  .MobileMenu {
    display: none; }

  .Menu {
    display: inline-block !important;
    width: 100%; }

  .Menu > ul {
    width: 100%;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    height: 100%;
    align-items: center; } }
/*
        Laptops And Desktops
*/
@media only screen and (min-width: 992px) {
  .HeadContainer {
    position: sticky;
    top: 0;
    background: #131313;
    color: yellow;
    width: 100%;
    display: flex;
    padding-bottom: 40px;
    transition: 1s;
    z-index: 5; }

  .HeadContainer.small {
    position: sticky;
    top: 0;
    background: #131313;
    color: yellow;
    width: 100%;
    display: flex;
    padding-bottom: 0;
    transition: 1s;
    z-index: 5; }

  .NameBox {
    position: relative;
    width: 50%;
    height: auto;
    padding-left: 15px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    font-size: 3em; }

  .NameFirst {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: auto;
    padding-left: 15px;
    display: inline-block;
    font-family: 'Coiny', cursive;
    font-size: inherit;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 0;
    margin-bottom: 0; }

  .Name {
    position: absolute;
    top: 0;
    left: 0;
    background: #131313;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: auto;
    padding-left: 15px;
    display: inline-block;
    font-family: 'Coiny', cursive;
    font-size: inherit;
    box-sizing: border-box;
    box-shadow: 4px -3px 0px;
    animation: NameBanner 5s ease-in-out alternate infinite;
    border-bottom: none;
    margin-bottom: 0; }

  .Menu {
    display: inline-block;
    width: 50%; }

  .Menu > ul {
    width: 100%;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    height: 100%;
    align-items: center; } }
/*--------------------------------------------------*/
/*
HIRE ME SECTION
*/
@keyframes HireMeBackground {
  from {
    -webkit-filter: blur(0);
    filter: blur(0); }
  to {
    -webkit-filter: blur(4px);
    filter: blur(4px); } }
@keyframes HireMeFront {
  from {
    opacity: 0; }
  to {
    opacity: 100%; } }
/*
    .Hireme
        {
        position: relative;
        }

    .HireArea
        {
        position: absolute;
        top: 30%;
        z-index: 1;
        width: 100%;   
        }

    .HireArea_Description
        {
        font-size: 2em;
        color: yellow;
        background: black;
        padding: 20px;
        border-radius: 40px;
        display: inline-block;
        margin-left: 20%;
        text-align: right;
        }

    .HireArea_CTA
        {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        margin: auto;
        padding: 27px;
        box-sizing: border-box;
        }

    .HM_Action
        {
        background: black;
        color: white;
        min-width: 45%;
        text-align: center;
        font-size: 1.9em;
        padding-top: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;
        border-radius: 48px;
        border: 2px solid yellow;
        white-space: nowrap;   
        }
        
        */
@media only screen and (max-width: 500px) {
  .Hireme {
    position: relative; }

  .HireArea {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%; }

  .HireArea_Background {
    position: relative;
    top: 0;
    left: 0; }

  .HireArea_Description {
    font-size: 2em;
    background: none;
    color: yellow;
    padding: 20px;
    padding-top: 100px;
    border-radius: 40px;
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: center;
    box-sizing: border-box; }

  .HireArea_CTA {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    padding: 0;
    box-sizing: border-box; }

  .HM_Action {
    background: #293483;
    color: white;
    width: 50%;
    margin: auto;
    margin-bottom: 11px;
    text-align: center;
    font-size: 1.9em;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    border: 1px solid white;
    white-space: nowrap; } }
@media only screen and (min-width: 500px) {
  /*
  HIRE ME SECTION
  */
  .Hireme {
    position: relative; }

  .HireArea {
    position: absolute;
    width: 100%;
    top: 25%;
    z-index: 1;
    animation: HireMeFront 2s ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; }

  .HireArea_Background {
    position: relative;
    top: 0;
    left: 0; }

  .HireArea_Description {
    position: relative;
    display: block;
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: black;
    font-size: 2em;
    color: yellow;
    text-align: center;
    border-radius: 40px; }

  .HireArea_CTA {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    padding: 27px;
    box-sizing: border-box; }

  .HM_Action {
    background: black;
    color: white;
    min-width: 45%;
    text-align: center;
    font-size: 1.9em;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-radius: 48px;
    border: 2px solid yellow;
    white-space: nowrap; } }
@media only screen and (min-width: 992px) {
  .HireArea_Background {
    animation: HireMeBackground 3s ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; } }
/*--------------------------------------------------*/
/*
    Section Anchor
*/
.Anchor {
  position: absolute;
  top: -129px; }

.ContentContain {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.Content {
  position: relative;
  flex: 20%;
  margin: 5px;
  background: black;
  box-shadow: 0px 0px 3px white;
  box-sizing: border-box; }

.ContentTitle {
  display: block;
  width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  color: yellow;
  text-align: center; }

.ContentDescription {
  background: white;
  padding: 5px;
  box-sizing: border-box;
  text-align: center; }

.ContentSkillSet {
  color: white;
  text-align: center;
  padding: 10px;
  box-sizing: border-box; }

@media only screen and (max-width: 500px) {
  .ContentContain {
    flex-direction: column; } }
/*--------------------------------------------------*/
.SkillArea {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  padding: 100px 0; }

.Skill_Button {
  display: inline-block;
  flex: 25%;
  line-height: 50px;
  min-height: 50px;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: 1s;
  border-radius: 20px; }

#FrontEnd {
  background: darkred;
  color: white; }

#BackEnd {
  background: green;
  color: white; }

#CMS {
  background: gold;
  color: black; }

#Team {
  background: white;
  color: darkgreen; }

#FrameWork {
  background: #002fff;
  color: white; }

#FrontEnd:hover, #BackEnd:hover, #CMS:hover, #Team:hover, #FrameWork:hover {
  background: black;
  color: white;
  transition: .5s; }

/* 
    Modals 
*/
.Full-Modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.91); }

.Modal-Content {
  background-color: black;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 10%; }

.Modal_close {
  color: #ff000063;
  display: block;
  text-align: right;
  font-weight: bold;
  font-size: 30px; }

.Modal_close:hover, .Modal_close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer; }

.Modal_Header {
  width: 100%;
  background: white;
  color: black;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  font-size: 1.7em; }

.Modal_SkillBox {
  display: flex;
  flex-wrap: wrap;
  width: 97%;
  margin: auto;
  margin-top: 30px; }

.Modal_SkillName {
  width: 25%;
  display: inline-block;
  padding: 15px;
  text-align: center;
  color: yellow;
  font-size: 1.5em;
  box-sizing: border-box;
  margin-bottom: 10px; }

.Modal_SkillContainer {
  display: inline-block;
  width: 75%;
  background: grey;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 10px; }

.Modal_SkillLevel {
  height: 100%;
  padding-top: 10px;
  box-sizing: border-box;
  background: #23b200;
  text-align: center;
  color: white;
  font-size: 1.5em;
  padding: 15px; }

.Level-100 {
  width: 100%; }

.Level-85 {
  width: 85%; }

.Level-80 {
  width: 80%; }

.Level-70 {
  width: 70%; }

.Level-60 {
  width: 60%; }

.Level-30 {
  width: 30%; }

.Level-10 {
  width: 10%; }

@media only screen and (max-width: 500px) {
  .SkillArea {
    flex-direction: column;
    padding: 0; }

  .Skill_Button {
    display: inline-block;
    flex: 25%;
    line-height: 50px;
    min-height: 50px;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    border-radius: 20px; }

  .Full-Modal {
    background: black; }

  .Modal-Content {
    margin: 0;
    padding: 5px; }

  .Modal_SkillBox {
    flex-direction: column;
    width: 100%;
    align-items: center; }

  .Modal_SkillName {
    width: 100%; }

  .Modal_close {
    font-size: 50px; } }
@media only screen and (min-width: 992px) {
  .SkillArea {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 100px 0; }

  .Skill_Button {
    display: inline-block;
    flex: 25%;
    line-height: 50px;
    min-height: 50px;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    border-radius: 20px; }

  #FrontEnd {
    background: darkred;
    color: white; }

  #BackEnd {
    background: green;
    color: white; }

  #CMS {
    background: gold;
    color: black; }

  #Team {
    background: white;
    color: darkgreen; }

  #FrameWork {
    background: #002fff;
    color: white; }

  #FrontEnd:hover, #BackEnd:hover, #CMS:hover, #Team:hover, #FrameWork:hover {
    background: black;
    color: white;
    transition: .5s; }

  /* 
      Modals 
  */
  .Full-Modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.91); }

  .Modal-Content {
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10%; }

  .Modal_close {
    color: #ff000063;
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 30px; }

  .Modal_close:hover, .Modal_close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer; }

  .Modal_Header {
    width: 100%;
    background: white;
    color: black;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.7em; }

  .Modal_SkillBox {
    display: flex;
    flex-wrap: wrap;
    width: 97%;
    margin: auto;
    margin-top: 30px; }

  .Modal_SkillName {
    width: 25%;
    display: inline-block;
    padding: 15px;
    text-align: center;
    color: yellow;
    font-size: 1.5em;
    box-sizing: border-box;
    margin-bottom: 10px; }

  .Modal_SkillContainer {
    display: inline-block;
    width: 75%;
    background: grey;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 10px; }

  .Modal_SkillLevel {
    height: 100%;
    padding-top: 10px;
    box-sizing: border-box;
    background: #23b200;
    text-align: center;
    color: white;
    font-size: 1.5em;
    padding: 15px; }

  .Level-100 {
    width: 100%; }

  .Level-85 {
    width: 85%; }

  .Level-80 {
    width: 80%; }

  .Level-70 {
    width: 70%; }

  .Level-60 {
    width: 60%; }

  .Level-30 {
    width: 30%; }

  .Level-10 {
    width: 10%; } }
/*--------------------------------------------------*/
